# ¿Qué modelo de avión realiza una mayor cantidad de vuelos, y cuál lo hace en un menor tiempo?

In [2]:
import pandas as pd
import sqlite3
import matplotlib

#Conexion con la base de datos 
conn = sqlite3.connect("data/travel.sqlite")

In [3]:
# Consultar las tablas en la base de datos
consulta_tablas = "SELECT name FROM sqlite_master WHERE type='view' ORDER BY name;"


# Mostrar las entidades
print("Entidades en la base de datos:")
entidades = pd.read_sql_query(sql = consulta_tablas, con = conn)
entidades

Entidades en la base de datos:

         name
0  Pregunta_1
1  Pregunta_2
2  Pregunta_A

In [4]:
### Creacion de funcion para llamar vistas
def load_view_to_dataframe(view_name:str) -> pd.DataFrame:
    query = f"SELECT * FROM {view_name}"
    return pd.read_sql_query(query, conn)

In [5]:
# Cargar los datos de las vistas en DataFrames
Df_vista1 = load_view_to_dataframe("Pregunta_A")
Df_vista1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,model
0,1185,PG0134,2017-09-10 09:50:00+03,2017-09-10 14:55:00+03,DME,BTK,Scheduled,319,"{""en"": ""Airbus A319-100"", ""ru"": ""Аэробус A319-..."
1,3979,PG0052,2017-08-25 14:50:00+03,2017-08-25 17:35:00+03,VKO,HMA,Scheduled,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
2,4739,PG0561,2017-09-05 12:30:00+03,2017-09-05 14:15:00+03,VKO,AER,Scheduled,763,"{""en"": ""Boeing 767-300"", ""ru"": ""Боинг 767-300""}"
3,5502,PG0529,2017-09-12 09:50:00+03,2017-09-12 11:20:00+03,SVO,UFA,Scheduled,763,"{""en"": ""Boeing 767-300"", ""ru"": ""Боинг 767-300""}"
4,6938,PG0461,2017-09-04 12:25:00+03,2017-09-04 13:20:00+03,SVO,ULV,Scheduled,SU9,"{""en"": ""Sukhoi Superjet-100"", ""ru"": ""Сухой Суп..."
...,...,...,...,...,...,...,...,...,...
33116,33117,PG0063,2017-08-02 19:25:00+03,2017-08-02 20:10:00+03,SKX,SVO,Arrived,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33117,33118,PG0063,2017-07-28 19:25:00+03,2017-07-28 20:10:00+03,SKX,SVO,Arrived,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33118,33119,PG0063,2017-09-08 19:25:00+03,2017-09-08 20:10:00+03,SKX,SVO,Scheduled,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33119,33120,PG0063,2017-08-01 19:25:00+03,2017-08-01 20:10:00+03,SKX,SVO,Arrived,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33120,33121,PG0063,2017-08-26 19:25:00+03,2017-08-26 20:10:00+03,SKX,SVO,Scheduled,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."

In [6]:
Df_vista2 = Df_vista1[['scheduled_departure','scheduled_arrival','departure_airport','arrival_airport','status','aircraft_code','model']]

In [7]:
Df_vista2['scheduled_departure'] = pd.to_datetime(Df_vista2['scheduled_departure']).dt.time
Df_vista2['scheduled_arrival'] = pd.to_datetime(Df_vista2['scheduled_arrival']).dt.time

C:\Users\Yoyobastidas\AppData\Local\Temp\ipykernel_31904\1000776766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_vista2['scheduled_departure'] = pd.to_datetime(Df_vista2['scheduled_departure']).dt.time
C:\Users\Yoyobastidas\AppData\Local\Temp\ipykernel_31904\1000776766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_vista2['scheduled_arrival'] = pd.to_datetime(Df_vista2['scheduled_arrival']).dt.time

In [8]:
Df_vista2

,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,model
0,09:50:00,14:55:00,DME,BTK,Scheduled,319,"{""en"": ""Airbus A319-100"", ""ru"": ""Аэробус A319-..."
1,14:50:00,17:35:00,VKO,HMA,Scheduled,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
2,12:30:00,14:15:00,VKO,AER,Scheduled,763,"{""en"": ""Boeing 767-300"", ""ru"": ""Боинг 767-300""}"
3,09:50:00,11:20:00,SVO,UFA,Scheduled,763,"{""en"": ""Boeing 767-300"", ""ru"": ""Боинг 767-300""}"
4,12:25:00,13:20:00,SVO,ULV,Scheduled,SU9,"{""en"": ""Sukhoi Superjet-100"", ""ru"": ""Сухой Суп..."
...,...,...,...,...,...,...,...
33116,19:25:00,20:10:00,SKX,SVO,Arrived,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33117,19:25:00,20:10:00,SKX,SVO,Arrived,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33118,19:25:00,20:10:00,SKX,SVO,Scheduled,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33119,19:25:00,20:10:00,SKX,SVO,Arrived,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."
33120,19:25:00,20:10:00,SKX,SVO,Scheduled,CR2,"{""en"": ""Bombardier CRJ-200"", ""ru"": ""Бомбардье ..."

In [9]:
# Agrupamos por modelo y contamos la cantidad de vuelos
modelo_vuelos = Df_vista2.groupby('model')['scheduled_departure'].count()

# Ordena en orden descendente
modelo_vuelos = modelo_vuelos.sort_values(ascending=False)

# Obtiene el modelo con la mayor cantidad de vuelos
modelo_mas_frecuente = modelo_vuelos.index[0]

print(f"El modelo de avión que realiza la mayor cantidad de vuelos es: {modelo_mas_frecuente}")

El modelo de avión que realiza la mayor cantidad de vuelos es: {"en": "Cessna 208 Caravan", "ru": "Сессна 208 Караван"}

In [10]:
# Extraer horas y minutos para transformar todo en horas
Df_vista2['hora de salida'] = Df_vista2['scheduled_departure'].apply(lambda x: x.hour + x.minute / 60)
Df_vista2['hora de llegada'] = Df_vista2['scheduled_arrival'].apply(lambda x: x.hour + x.minute / 60)

C:\Users\Yoyobastidas\AppData\Local\Temp\ipykernel_31904\4152505349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_vista2['hora de salida'] = Df_vista2['scheduled_departure'].apply(lambda x: x.hour + x.minute / 60)

In [11]:
# Calcula la duración de cada vuelo
Df_vista2['duracion_vuelo'] = Df_vista2['hora de salida'] - Df_vista2['hora de llegada'] 

# Agrupa por modelo y calcula el tiempo promedio de vuelo
modelo_tiempo_promedio = Df_vista2.groupby('model')['duracion_vuelo'].mean()

# Ordena en orden ascendente
modelo_tiempo_promedio = modelo_tiempo_promedio.sort_values(ascending=True)

# Obtiene el modelo con el menor tiempo promedio de vuelo
modelo_menor_tiempo = modelo_tiempo_promedio.index[0]

print(f"El modelo de avión que realiza vuelos en el menor tiempo promedio es: {modelo_menor_tiempo}")

El modelo de avión que realiza vuelos en el menor tiempo promedio es: {"en": "Boeing 737-300", "ru": "Боинг 737-300"}

In [12]:
conn.close()